{% extends 'base.html'%} {% block content %}

<h3>Edit Task</h3>
<div class="row">
    <form action="{{ url_for('update_task', task_id=task._id) }}" method="POST"  class="col s12">
        <div class="row">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">poll</i>
                    <select id="category" name="category_name">
                  <option value="" disabled selected>{{task.category_name}}</option>
                  {% for cat in categories %}
                      <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                  {% endfor %}
                </select>
                    <label>Task Category</label>
                </div>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <input id="task_name" name="task_name" type="text" value="{{task.task_name}}">
                <label for="icon_prefix">Task Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">subject</i>
                <textarea name="task_description" id="task_description" class="materialize-textarea" >{{task.task_description}}</textarea>
                <label for="icon_telephone">Task Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">subject</i>
                <textarea name="ingredients_list" id="ingredients_list" class="materialize-textarea">{{task.ingredients_list}}</textarea>
                <label for="icon_telephone">Ingredients list</label>
            </div>
        </div>
          <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">subject</i>
                <textarea name="image_url" id="image_url" class="materialize-textarea">{{task.image_url}}</textarea>
                <label for="icon_telephone">image_url</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">subject</i>
                <textarea name="instructions" id="instructions" class="materialize-textarea">{{task.instructions}}</textarea>
                <label for="icon_telephone">Instructions</label>
            </div>
        </div>
        <div class=
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Edit Recipe
                <i class="material-icons right">playlist_add</i>
             </button>
        </div>
    </form>
</div>


{% endblock %}