{% extends 'base.html'%} {% block content %}
<!-- Page Layout here -->

<div class="slider">
  <ul class="slides">
    <li>
      <img src="https://lorempixel.com/580/250/nature/1">
      <!-- random image -->
      <div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="https://lorempixel.com/580/250/nature/2">
      <!-- random image -->
      <div class="caption left-align">
        <h3>Left Aligned Caption</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="https://lorempixel.com/580/250/nature/3">
      <!-- random image -->
      <div class="caption right-align">
        <h3>Right Aligned Caption</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="https://lorempixel.com/580/250/nature/4">
      <!-- random image -->
      <div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
  </ul>
</div>
<div id="container">
 



  <!-- Cards container -->
  <div class="col s12 m12 l9">

    <h4>Featured Recipes</h4>
    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Add Recipe</a>

    <!-- Modal Structure -->


    <div id="card-container" class="row">
      {% for task in tasks %}

      <!-- Col: Card 1 -->
      <div class="col s12 m6 l4">


        <!-- Card 1 -->
        <div class="card">

          <div class="card-image materialboxed">
            <img src="https://via.placeholder.com/300">
            <!--<span class="card-title">Card Title</span>-->
          </div>
          <div class="card-content white-text">

            <div class="card__meta">
              <a href="#"><i class="small material-icons">room</i>{{task.task_name}}</a>

            </div>
            <span class="card-title grey-text text-darken-4">{{task.task_name}}</span>

            <p class="card-subtitle grey-text text-darken-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis pellentesque lacus eleifend lacinia...lacus eleifend lacinia... go!</p>

            <div class="row card-row">
              <span class="text-darken-2 card-info"><i class="small material-icons">schedule</i>&nbsp;lindy hop, balboa, charleston</span>
            </div>
          </div>
          <div class="card-action">
            <a href="#"><i class="material-icons">&nbsp;language</i>VISIT WEB</a>
            <a href="#" class="card-action-right"><i class="material-icons">&nbsp;share</i>SHARE</a>
          </div>
        </div>
        <!-- End of card -->


      </div>
      <!-- End of col -->
      {% endfor %}
      <!-- Col: Card 1 -->

      <!-- End of card -->
    </div>

  </div>
</div>
<!--</div>-->
</div>
<div id="modal1" class="modal">
  <div class="modal-content">
    <h3>Add Recipe</h3>
    <div class="row">
      <form action="{{ url_for('insert_task') }}" method="POST" class="col s12">
        <div class="row">
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">poll</i>
              <select id="category" name="category_name">
                  <option value="" disabled selected>Choose Category</option>
                  {% for cat in categories %}
                      <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                  {% endfor %}
                </select>
              <label>Task Category</label>
            </div>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">assignment</i>
            <input id="task_name" name="task_name" type="text">
            <label for="icon_prefix">Task Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">subject</i>
            <textarea name="task_description" id="task_description" class="materialize-textarea"></textarea>
            <label for="icon_telephone">Task Description</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12" id="matfix">
            <i class="material-icons prefix">today</i>
            <input id="due_date" name="due_date" type="text" class="datepicker">
            <label for="icon_prefix">Due Date</label>
          </div>
        </div>
        <div class="row">
          <div class="switch">
            <label>
                  <input id="is_urgent" name="is_urgent" type="checkbox">
                  <span class="lever"></span>
                  Is Urgent
                </label>
          </div>
        </div>
        <div class="row">
          <button class="btn waves-effect waves-light" type="submit" name="action">Add Task
                <i class="material-icons right">playlist_add</i>
             </button>
        </div>
      </form>
    </div>

  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>
{% endblock %}
