{% extends 'base.html'%} {% block content %}
<!-- Page Layout here -->

<div class="slider">
  <ul class="slides">
    <li>
      <img src="https://cdn.pixabay.com/photo/2017/06/06/22/46/mediterranean-cuisine-2378758_1280.jpg">
      <!-- random image -->
      <div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="https://cdn.pixabay.com/photo/2017/12/09/08/18/pizza-3007395_1280.jpg">
      <!-- random image -->
      <div class="caption left-align">
        <h3>Left Aligned Caption</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="https://cdn.pixabay.com/photo/2017/03/23/19/57/asparagus-2169305_1280.jpg">
      <!-- random image -->
      <div class="caption right-align">
        <h3>Right Aligned Caption</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="https://cdn.pixabay.com/photo/2010/12/13/10/25/appetizer-2802_1280.jpg">
      <!-- random image -->
      <div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
  </ul>
</div>
<div id="container">
 



  <!-- Cards container -->
  <div class="col s12 m12 l9">

    <h4>Featured Recipes</h4>
    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Add Recipe</a>

    <!-- Modal Structure -->


    <div id="card-container" class="row">
      {% for task in tasks %}

      <!-- Col: Card 1 -->
      <div class="col s12 m6 l4">


        <!-- Card 1 -->
        <div class="card">

          <div class="card-image materialboxed">
            <img src="{{task.image_url}}">
            <!--<span class="card-title">Card Title</span>-->
          </div>
          <div class="card-content white-text">

            <div class="card__meta">
              <a href="#"><i class="small material-icons">room</i>{{task.category_name}}</a>

            </div>
            <span class="card-title grey-text text-darken-4">{{task.task_name}}</span>

            <p class="card-subtitle grey-text text-darken-2">{{task.task_description}}</p>
            
            </br>
            <span class="card-title grey-text text-darken-4">Ingredients</span>
            <p class="card-subtitle grey-text text-darken-2">{{task.ingredients_list}}</p>

           
          </div>
          <div class="card-action">
            <a href='{{url_for('delete_task', task_id=task._id)}}'>Delete Recipe</a>
            <a href='{{url_for('edit_task', task_id=task._id)}}'>Edit Recipe</a>
          </div>
        </div>
        <!-- End of card -->


      </div>
      <!-- End of col -->
      {% endfor %}
      <!-- Col: Card 1 -->

      <!-- End of card -->
    </div>

  </div>
</div>
<!--</div>-->
</div>
<div id="modal1" class="modal">
  <div class="modal-content">
    <h3>Add Recipe</h3>
    <div class="row">
      <form action="{{ url_for('insert_task') }}" method="POST" class="col s12">
        <div class="row">
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">poll</i>
              <select id="category" name="category_name">
                  <option value="" disabled selected>Choose Category</option>
                  {% for cat in categories %}
                      <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                  {% endfor %}
                </select>
              <label>Recipe Category</label>
            </div>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">assignment</i>
            <input id="task_name" name="task_name" type="text">
            <label for="icon_prefix">Recipe Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">subject</i>
            <textarea name="task_description" id="task_description" class="materialize-textarea"></textarea>
            <label for="icon_telephone">Recipe Description</label>
          </div>
        </div>
         <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">subject</i>
                <textarea name="ingredients_list" id="ingredients_list" class="materialize-textarea"></textarea>
                <label for="icon_telephone">Ingredients list</label>
            </div>
        </div>
          <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">subject</i>
                <textarea name="image_url" id="image_url" class="materialize-textarea"></textarea>
                <label for="icon_telephone">Image_url</label>
            </div>
        </div>
        <div class="row">
          <button class="btn waves-effect waves-light" type="submit" name="action">Add Recipe
                <i class="material-icons right">playlist_add</i>
             </button>
        </div>
      </form>
    </div>

  </div>

</div>

{% endblock %}
